@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Montserrat&family=Oswald&display=swap');

/*
  font-family: 'Aboreto', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
*/

.aboreto {
  font-family: 'Aboreto', cursive;
}
.dancing {
  font-family: 'Dancing Script', cursive;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}

.App {
  text-align: center;
  background-image: url('./assets/pexels-henry-&-co-2341290.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.page-body {
  padding-bottom: 120px;
}

.proj-overlay {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
}

.proj-image {
  transition: .5s ease;
  opacity: 1;
  text-align: center;
  /* max-width: 50%; */
}

.project:hover .proj-image {
  opacity: 0.3;
}

.project:hover .proj-overlay {
  opacity: 1;
}

.proj-overlay-text {
  background-color:dimgrey;
}

.icon {
  width: 24px;
}
.icon:hover{
  cursor: pointer;
  opacity: 0.5;
}

.about-img {
  width: 256px;
}

.text-left {
  text-align: left;
  padding-left: 75px;
}

